/* Basic Styles
----------------------- */
.wrapper {
   height: 100vh;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   line-height: 1.3;
}

header {
   font-size: 2rem;
   text-align: center;
   padding: 1rem;
}

main {
   max-width: 80%;
   margin: 1rem auto;
   font-size: 1.5rem;
}

footer {
   text-align: center;
   font-style: italic;
}



/* Hero Image
----------------------- */
.hero-image {
   /* Uses a linear-gradient to darken the image. This makes the text easier to read */
   background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
      url("images/cats.jpg");
   
   /* Sets the height of the image */
   height: 50%;

   /* Positions and centers the image to scale */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;

}


/* Places text in the middle of the image */
.hero-text {
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   text-shadow: 2px 2px 5px black;
   color: white;
}

.hero-text h2 {
   font-size: 1.8rem;
   margin: .5rem;
}

.hero-text p {
   font-size: 1.2rem;
   margin-bottom: 4rem;
}

.hero-text a {
   text-shadow: none;
   border: 1px solid silver;
   border-radius: .5rem;
   padding: .75rem 1.5rem;
   background-color: #e8e8e8;
   color: black;
   text-decoration: none;
   transition: all 1s ease;
}

.hero-text a:hover {
   color: white;
   background-color: black;
   box-shadow: 2px 2px 6px black;
   transform: scale(2);

}
